* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: white; }

.navbar, .sectionBanner, .sectionAbout, .sectionTrabajos, .sectionContact {
  background-image: linear-gradient(to right, #fcb2bf, #f5899b); }

.navbar-nav {
  float: right; }

.nav-link {
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin-inline: 7px;
  transition: .5s ease-in-out; }
  .nav-link:hover {
    color: whitesmoke;
    text-decoration: wavy underline whitesmoke;
    text-underline-offset: 5px; }

.boxServicios {
  border-style: solid;
  background-color: #f5899b;
  border-color: white;
  transition: .5s ease-in-out;
  cursor: pointer; }
  .boxServicios:hover {
    background-color: #eb5871; }

.boxServicios2 {
  cursor: pointer;
  transition: .5s ease-in-out; }
  .boxServicios2:hover h4 {
    color: #eb5871; }

.sectionTrabajos {
  color: black; }

.sectionContact {
  color: black; }

.form-control {
  border-style: solid;
  border-color: black;
  border-width: 3px; }
  .form-control:focus {
    border-color: #eb5871;
    border-style: solid;
    border-width: 4px;
    box-shadow: none; }

#msjConfirm {
  color: white;
  display: block;
  margin-top: 10px;
  text-align: center;
  font-weight: 600; }

.bi-instagram {
  color: black;
  font-size: 25px;
  margin-right: 10px;
  transition: .4s ease-in-out; }
  .bi-instagram:hover {
    color: #eb5871;
    cursor: pointer; }

.bi-whatsapp {
  color: black;
  font-size: 25px;
  transition: .4s ease-in-out; }
  .bi-whatsapp:hover {
    color: #eb5871;
    cursor: pointer; }

.moyanogdev {
  color: black;
  text-decoration: none;
  font-weight: 600;
  transition: .4s ease-in-out; }
  .moyanogdev:hover {
    color: #eb5871; }

.scrollUp {
  position: fixed;
  right: 25px;
  bottom: -50%;
  color: black;
  transition: .4s ease-in;
  font-size: 25px;
  z-index: 5; }
  .scrollUp:hover {
    transform: translateY(-10px);
    color: black; }

.showScroll {
  bottom: 25px; }

.btnGeneral {
  background-color: whitesmoke;
  background-image: none;
  color: black;
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  border-radius: 999px;
  border-color: #1c1b1b;
  border-style: 2px;
  font-weight: 600;
  padding: 12px;
  position: relative; }
  .btnGeneral::before {
    --borderStyle: 3.5px;
    border: var(--borderStyle) solid whitesmoke;
    border-radius: 999px;
    content: "";
    inset: calc(var(--borderStyle) * -1);
    opacity: 0;
    position: absolute;
    transform: scale(1.3);
    transition: transform 0.2s, opacity 0.2s; }
  .btnGeneral:hover::before {
    opacity: 1;
    transform: scale(1); }
  .btnGeneral:hover {
    background-color: #eb5871;
    color: whitesmoke; }
